<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <meta name="description"
        content="In CSE 340 - Web Backend Development course, Juan Plasencia created this website as course work.">
    <meta name="author" content="Juan Plasencia">
    <link rel="icon" href="/images/site/favicon-32x32.ico">
    <meta property="og:title" content="Juan Plasencia - CSE 340 - Web Backend Development">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/vehicles/delorean.jpg">
    <meta property="og:url" content="https://github.com/Juarpla/cse340motors/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/script.js"></script>
</head>