<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<div>
    <%- message %>
</div>
<br>
<img class="errorImg" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmtqanU1MHAyYXJteTQ0OWlicnc2NjNqMTBxNHczc21hcTc0cHd0diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2vs70gBAfQXvOOYsBI/giphy.gif" 
alt="lost in the web">